<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <code>

    page  2 code will be here <p>all docd </p>
<h1> later we will reaplace signup html and css</h1>
    </code> -->

    <p class="pg">how good or bad you can do Lorem ipsum dolor sit amet.</p>
    <h5> depends on you</h5>

    <h1> go to our sign up page <a href="./signup.ejs ">signup</a></h1>
</body>
</html>