h5{
    color: antiquewhite;
    background-color: rgb(184, 105, 105);
    font-size: 40px;
    text-align: center;
}


.pg{
    margin-left: 30px;
    color: rgb(210, 88, 88);

    font-size: 40px;
}